#search_mini_form {
	display: none;
}
.footer-top-container.section-container {
	display: none;
}
#newsletter-validate-detail {
	display: none;
}
#header-account {
	/* padding-top: 10px; */
  display: none;
}
.action.tocompare.feature.feature-icon-hover {
	display: none;
}
.secondary-addto-links.actions-secondary {
	display: none;
}
.skip-link.skip-search {
	display: none;
}
.sidebar.sidebar-additional {
	display: none;
}
.block-content.filter-content {
	/* display: none; */
}
.page-wrapper {
  background-image: url("http://exovd.nl/pub/static/frontend/Infortis/ultimo/en_US/images/tex/grain3.png");
  
}
.main-container{
	/* background-image: url("http://exovd.nl/examen/pub/static/frontend/Infortis/ultimo/en_US/images/tex/grain3.png");*/
	 background-color:transparent;
}
.catalog-product-view .field.choice {
  border: 2px solid;
  display: inline-block;
  height: 50px;
  vertical-align: top;
  width: 80px !important;
}
.radio.product.bundle.option.change-container-classname {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.fieldset > .field .field.choice, .fieldset > .fields > .field .field.choice {
  border-radius: 10px;
  margin-bottom: 10px;
  padding:9px;
  font-size:12px;
  position:relative;
}

.field.choice.field.choice:nth-child(2n) {
  width: 22%;
}
.field.choice.yellowBackground {
  width: 23%;
}

.fieldset > * {
  letter-spacing: normal;
}
.price-box.price-final_price
{
	display:none;
}

.nested.options-list .field.choice: nth-child(3).active{
border-color:orange;
}

.catalog-product-view .bundle-options-wrapper {
  /*float: right !important;
  left: 120px;
  margin-top: -130px;
  position: relative;*/
}
.cms-index-index .itemslider.brand-slider {
  height: 60px;
}
.action.mailto.friend.feature.feature-icon-hover {
  display: none;
}
.yellowBackground{border: 2px solid #C60 !important}
.toolbar-sorter.sorter {
  display: none;
}
.field.qty.qty-holder {
  display: none;
}
.action.action-auth-toggle {
  display: none;
}
.checkout-index-index .content.minicart-items {
  display: block !important;
}
.checkout-index-index .title {
  pointer-events: none;
}
.grid12-6.no-right-gutter + div + div pre.lang-php {
  margin: 0 -20px !important;
  padding: 1px 0 0 !important;
  display:none !important;
}
.pre {
  line-height: 1.42857;
 }
@media screen and (max-width:767px){
.catalog-product-view .product-social-links {
  text-align: left;
}
.catalog-product-view .bundle-options-wrapper {
  float: none !important;
  margin-top: 0;
  position: static;
}		
}

.page-product-bundle .field.option.required {
  margin-top: 44px;
 margin-left: -37%! !important;
}
.level1.nav-submenu.nav-panel--dropdown.nav-panel {
  /* display: none !important; */
}
.nav-item.level2.nav-1-1-3.last.classic > a {
  display: none;
}
.nav-item.level2.nav-1-1-1.first.classic {
  display: none;
}
.nav-item.level2.nav-1-1-2.classic > a {
  display: none;
}
/*.block-vertnav .level0.nav-submenu {
  display: none !important;
}
*/
.uaccordion .opener {
  display: none !important;
}

.nav-item.level1.nav-1-2.nav-item--parent.classic.nav-item--only-subcategories.parent .caret ,.nav-item.level1.nav-1-3.last.nav-item--parent.classic.nav-item--only-subcategories.parent .caret{
  display: none;
}
.category-vakken .uaccordion .opener{
  display: block !important  ;
}

.catalog-product-view .bundle-options-wrapper {
 /* width: 70% !important;*/
}
.catalog-product-view #bundleSummary.block-bundle-summary {
 /* width: 55% !important;*/
    background:none !important;
}

head + body{
background-color:#f5f5f5;	
}

.checkout-index-index .opc-wrapper #opc-shipping_method {
  display: none;
}

.product-details p.available.stock {
  display: none;
}

.catalog-product-view #bundleSummary { clear: both; /* margin-bottom: 30px; */ float: left; }
}

#bundleSummary .bundle-info .box-tocart .fieldset .field.qty{ /* display: inline-block; */  margin-left: 15px; vertical-align: middle;}

#bundleSummary .bundle-info .box-tocart .fieldset .actions{display: inline-block; float: left; /*margin: 0;*/ vertical-align: middle;}

#bundleSummary .bundle-info .box-tocart .fieldset .field.qty label.label {margin-bottom: 0;}

.fieldset {
  /* margin: 0 0 40px 5px !important; */
  margin: 0 0 0px 5px !important;
}
.block-bundle-summary {
  padding: 1px!important;
}
.block-bundle-summary {
  padding: 1px!important;
}

.catalog-product-view #tab-label-reviews, .catalog-product-view #tab-label-reviews + #reviews {
  display: none !important;
}

/*****************
*                *
* Additions RvdB *
*                *
*****************/

/* Reduce the whitespace on the product page */
#product-options-wrapper { margin-bottom: 0px !important; }

/* Align the usp descriptions in the footer vertically */
.footer-usp-descriptions { padding-top: 6px; }

/* Fix the placement of the phone icon */
.feature .ib.ic.ic-phone.ic-lg { margin-top: 0px !important; }

/* Hide the add to cart functionality */
.products-grid .product-item-inner { display: none; }
.products-list .product-item-actions { display: none; }

/* Center the texts below the products */
.products-grid .product-item-details { text-align: center; }

/* Remove the review message within the product page */
.reviews-actions { display: none !important; }

/* Remove the default welcome text */
.welcome { display: none; }

/* Make the shopping cart larger */
.minicart-wrapper .label { font-size: 17px; }

/* Move the shopping cart to a lower position (only in the user menu) */ 
.user-menu .minicart-wrapper { margin-top:50px; }

/* Partner page layout */
.partner-container { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-start; align-items: flex-start; }
.partner-item { max-width: 410px; float: left; margin-top: 25px; margin-bottom: 25px; padding-left: 10px; padding-right: 10px; }
.partner-item h2 { font-size: 20px; margin-top: 2rem;}
.partner-title { float: left; margin-bottom: 10px; }
.partner-logo { float: right; max-width: 150px; height: 60px; }
.partner-content { float: left; clear: both; }

/* Fix terms & conditions spacing from bank selection in checkout */
.select.bank { margin-bottom: 20px; }

/* Remove add to wishlist */
.product-addto-links { display: none !important; }

/* Fix placement of the price box */
.field.qty .control { margin-right: 10px; }
.price-configured_price { display: inline-block; }
.actions { margin-top: 10px; }

/* Fix size of add to cart icon on desktop display (same as boxes above) */
@media all and (min-width: 1024px), print {
.action.tocart {min-width: 320px !important;}
}

/***********************
*                      *
* Additions Expert ;)  *
*                      *
***********************/


.checkout-index-index .field[name="billingAddressmollie_ideal.telephone"], .checkout-index-index .field[name="billingAddressmollie_paypal.telephone"], .checkout-index-index .field[name="billingAddressmollie_bitcoin.telephone"]{
    display: none;
}

.catalog-product-view .field.option.required {
  margin-top: 0;
}

.catalog-product-view .product-social-links {
  display: none;
}

.catalog-product-view .product-lower-primary-column.grid12-9 {
  margin-top: -50px;
}
