<?php
/* @var $block \Aheadworks\Blog\Block\PostList */
?>
<?php
    $posts = $block->getPostCollection();
?>
<?php if ($posts->getSize()): ?>
    <div class="aw-blog-posts">
        <?php foreach ($posts as $post): ?>
            <?php echo $block->getItemHtml($post) ?>
        <?php endforeach; ?>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="aw-blog-pagination"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty">
        <div><?php  echo __('No posts.') ?></div>
    </div>
<?php endif; ?>
